<!DOCTYPE html>
<html lang="zh-TW">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="" rel="shortcut icon"/>
    <link rel="stylesheet" type="text/css" href="style/css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-icons/bootstrap-icons.css">
    <!-- Orbitron 字體 -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/css/swiper-bundle.min.css" />
    <script type="module" src="style/js/main.js?v=1.0"></script>
    <title>阿痕 - Twitch剪輯</title>
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="canonical" href="https://dsa83171.github.io/"> -->


</head>
<body>
    <div id="main">
        <h2 class="title-glow">Twitch Clips</h2>
         <!-- 主題切換按鈕 -->
        <div class="theme-toggle">
            <button @click="toggleTheme">
                {{ currentTheme === 'dark' ? '🌞 切換為亮色主題' : '🌙 切換為暗色主題' }}
            </button>
        </div>

        <!-- 資料讀取顯示Loading -->
        <div class="loading-container" v-if="clips == ''" :class="{ show: clips === '' }">
            <div class="twitch-spinner"></div>
            <div class="loading-text">Loading Twitch Clips...</div>
        </div>
        
        
    
        <div class="duration-summary" v-if="clips !=''">
            🎬 目前共 {{clips.data.length}} 部剪輯
        </div>    
    
        <div class="grid">
            <div v-for="clip in clips.data" class="card">
                <a :href="clip.url" target="_blank" class="thumbnail-container">
                    <img :src="clip.thumbnail_url" class="card-img-top" alt="...">
                    <span class="duration-badge">{{ formatDuration(clip.duration) }}</span>
                </a>
                <div class="card-body">
                    <a :href="clip.url" target="_blank">
                        <h5 class="card-title">{{ clip.title }}</h5>
                    </a>
                    <p class="card-creator">剪輯者: {{ clip.creator_name }}</p>
                </div>
            </div>
        </div>
    </div>    
</body>

<footer>
    <!-- 引入 Vue.js -->
    <script src="style/js/axios.min.js"></script>
    <script src="style/js/vue.global.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="style/js/jquery-latest.min.js"></script>
    <script src="style/js/swiper-bundle.js"></script>
</footer>

</html>
